<div class="container">
  <div class="row my-5">
    <h3 class="px-4 bg-light">会員情報編集</h3>
  </div>
  <div class="row">
    <%= form_with model: @customer, url: customers_information_path do |f| %>
      <table>
        <tr>
          <th>氏名</th>
          <th>
            <div class="form-row justify-content-between">
              <div class="col-5">
                <%= f.text_field :last_name, class: "form-control my-1 ml-5" %>
              </div>
              <div class="col-5">
                <%= f.text_field :first_name, class: "form-control my-1" %>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th>フリガナ</th>
          <th>
            <div class="form-row justify-content-between">
              <div class="col-5">
                <%= f.text_field :last_name_kana, class: "form-control my-1 ml-5" %>
              </div>
              <div class="col-5">
                <%= f.text_field :first_name_kana, class: "form-control my-1" %>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th>郵便番号</th>
          <th>
            <div class="form-row">
              <div class="col-5">
                <%= f.text_field :postal_code, class: "form-control my-1 ml-5" %>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th>住所</th>
          <th>
            <div class="form-row">
              <div class="col">
                <%= f.text_field :address, class: "form-control my-1 ml-5" %>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th>電話番号</th>
          <th>
            <div class="form-row">
              <div class="col-5">
                <%= f.text_field :telephone_number, class: "form-control my-1 ml-5" %>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <th>
            <div class="form-row">
              <div class="col-5">
                <%= f.text_field :email, class: "form-control my-1 ml-5" %>
              </div>
            </div>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>
            <div class="form-row justify-content-between">
              <div class="col-6">
                <%= f.submit "編集内容を保存", class: "btn btn-success form-control my-3 ml-5" %>
              </div>
              <div class="col-3">
                <%= link_to "退会する", customers_unsubscribe_path, class: "btn btn-danger my-3 form-control" %>
              </div>
            </div>
          </th>
        </tr>
      </table>
    <% end %>
  </div>
</div>
