<div class="container">
  <div class="row my-4">
    <h2 class="bg-light px-5">商品新規登録</h2>
  </div>
  <%= form_with model: @item, url: admin_items_path do |f| %>
    <div class="row justify-content-center">
      <table>
        <tr>
          <th><p>商品画像</p></th>
          <th><p><%= f.file_field :image, accept: "image/*" %><p></th>
        </tr>
        <tr>
          <th>商品名</th>
          <th><%= f.text_field :name, size: "40" %></th>
        </tr>
        <tr>
          <th>商品説明</th>
          <th><%= f.text_area :introduction, size: "40" %></th>
        </tr>
        <tr>
          <th>ジャンル</th>
          <th><%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "選択してください", size: "40" %></th>
        </tr>
        <tr>
          <th>税抜価格</th>
          <th><%= f.text_field :price, size: "40" %>円</th>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <th><%= f.hidden_field :is_active, :value => true %></th>
        </tr>
      </table>
    </div>
    <div class="row justify-content-center">
      <%= f.submit "新規登録" %>
    </div>
  <% end %>
</div>