<div class="container">
  <div class="row">
    <h2 class="mt-5 px-5 bg-light">ジャンル一覧・追加</h2>
  </div>
  <div class="row">
    <%= form_with model: @genre, url: admin_genres_path do |f| %>
      <%= f.label :ジャンル名, class: "font-weight-bold" %>
      <%= f.text_field :name, class: "mx-5 my-5" %>
      <%= f.submit "新規登録", class: "btn btn-success btn-lg px-4" %>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table table-md">
        <thead class="bg-light">
          <tr>
            <th>ジャンル</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genres| %>
            <tr>
              <td><%= genres.name %></td>
              <td><%= link_to '編集する', edit_admin_genre_path(genres.id), class: "btn btn-success" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>