<div class="container">
  <div class="row my-4">
    <h3 class="ml-5 px-3 bg-light">配送先登録/一覧</h3>
  </div>
    <%= form_with model: @address do |f| %>
      <div class="row">
        <p class="col-md-3">郵便番号（ハイフンなし）</p>
        <%= f.text_field :postal_code, class: "form-control col-md-3" %>
      </div>
      <div class="row">
        <p class="col-md-3">住所</p>
        <%= f.text_field :address, class: "form-control col-md-7 my-2" %>
      </div>
      <div class="row">
        <p class="col-md-3">宛名</p>
        <%= f.text_field :name, class: "form-control col-md-3" %>
        <%= f.submit "新規登録", class: "col-md-2 ml-auto btn btn-success" %>
      </div>
    <% end %>
  <div class="row my-5">
    <table class="table table-md table-bordered">
      <thead class="bg-light">
        <tr>
          <th>郵便番号</th>
          <th>住所</th>
          <th>宛名</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |addresses| %>
          <tr>
            <td><%= addresses.postal_code %></td>
            <td><%= addresses.address %></td>
            <td><%= addresses.name %></td>
            <td><%= link_to "編集する", edit_address_path(addresses.id), class: "btn btn-success mx-3" %><%= link_to "削除する", address_path(addresses.id), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
