<h2>商品一覧</h2>
<p>(全<%= @items.count %>件)</p>
<% @items.each do |items| %>
  <ul>
    <li>
      <%= link_to item_path(items.id) do %>
        <div>
          <%= image_tag items.image %>
          <p><%= items.name %></p>
          <p>￥<%= items.price %></p>
        </div>
      <% end %>
    </li>
  </ul>
<% end %>